<mat-toolbar color="primary">
  <span>My App (Vias--)</span>
  <button
    class="btnToolBar"
    mat-flat-button
    color="primary"
    (click)="addHighway()">
    Agregar
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<section class="highways">
  <mat-card class="card" *ngFor="let highway of highways">
    <mat-card-header>
      <mat-card-title>ID: {{ highway.id }}</mat-card-title>
    </mat-card-header>
    <mat-card-content> </mat-card-content>
    <mat-card-content>
      <mat-card-subtitle> Tipo: {{ highway.type }} </mat-card-subtitle>
      <mat-card-subtitle>
        Calle o Carrera: {{ highway.streetOrRace }}
      </mat-card-subtitle>
      <mat-card-subtitle> Numero: {{ highway.number }} </mat-card-subtitle>
      <mat-card-subtitle>
        Nivel de congestion: {{ highway.congestionLevel }}
      </mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" (click)="getHistory(highway.id)">
        Historial
        <mat-icon>history</mat-icon>
      </button>
      <button mat-flat-button color="primary" (click)="updateHighway(highway)">
        Editar
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-flat-button
        color="primary"
        (click)="deleteHighway(highway.id)">
        Eliminar
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</section>

<button mat-flat-button color="primary" (click)="getTrafficPolice()">
  Agentes de Transito
  <mat-icon>person</mat-icon>
</button>
