<mat-toolbar color="primary">
  <span>My App (Vias)</span>
  <button
    class="btnToolBar"
    mat-flat-button
    color="primary"
    (click)="getHighways()">
    Volver
    <mat-icon>reload</mat-icon>
  </button>
</mat-toolbar>

<section class="highways">
  <mat-card class="card">
    <form>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Id</mat-label>
        <input
          type="number"
          name="id"
          value="{{ highway.id }}"
          [(ngModel)]="highway.id"
          matInput
          required
          disabled />
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Tipo: </mat-label>
        <input
          type="text"
          name="type"
          value="{{ highway.type }}"
          [(ngModel)]="highway.type"
          matInput
          required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Calle o Carrera?</mat-label>
        <mat-select
          type="text"
          [(ngModel)]="highway.streetOrRace"
          [ngModelOptions]="{ standalone: true }">
          <mat-option value="street"> Calle </mat-option>
          <mat-option value="race"> Carrera </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Numero</mat-label>
        <input
          type="number"
          name="number"
          value="{{ highway.number }}"
          [(ngModel)]="highway.number"
          matInput
          required />
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nivel de Congestion:</mat-label>
        <input
          type="number"
          name="congestionLevel"
          value="{{ highway.congestionLevel }}"
          [(ngModel)]="highway.congestionLevel"
          matInput
          required />
      </mat-form-field>
      <mat-card-actions>
        <button mat-flat-button color="primary" (click)="getUpdateHighway()">
          Guardar
          <mat-icon>save</mat-icon>
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>
