.history {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 100px 100px;
}

.card {
    margin: 5px;
    min-height: 50px;
    min-width: 100%;
}

.btnToolBar {
    float: right;
    margin: 5px;
    height: 50px;
    width: 100px;
    margin-right: 0;
    margin-left: auto;
    display: block;
}