<mat-toolbar color="primary">
  <span>My App (Vias)</span>
  <button
    class="btnToolBar"
    mat-flat-button
    color="primary"
    (click)="getTrafficPolice()">
    Volver
    <mat-icon>reload</mat-icon>
  </button>
</mat-toolbar>

<div class="history">
  <div>
    <mat-card class="card" *ngFor="let history of historys">
      <mat-card-header>
        <mat-card-title>Id Via: {{ history.highwayId }}</mat-card-title>
        <mat-card-title>Fecha: {{ history.date }}</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</div>
