<mat-toolbar color="primary">
  <span>My App (Vias)</span>
  <button
    class="btnToolBar"
    mat-flat-button
    color="primary"
    (click)="getTrafficPolice()">
    Volver
    <mat-icon>reload</mat-icon>
  </button>
</mat-toolbar>

<section class="highways">
  <mat-card class="card">
    <form>
      <form>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Id</mat-label>
          <input
            type="number"
            name="id"
            value="{{ trafficPolice.id }}"
            [(ngModel)]="trafficPolice.id"
            matInput
            required />
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Nombre: </mat-label>
          <input
            type="text"
            name="type"
            value="{{ trafficPolice.name }}"
            [(ngModel)]="trafficPolice.name"
            matInput
            required />
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Anos de experiencia: </mat-label>
          <input
            type="number"
            name="type"
            value="{{ trafficPolice.yearsExperience }}"
            [(ngModel)]="trafficPolice.yearsExperience"
            matInput
            required />
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Id secretaria: </mat-label>
          <input
            type="text"
            name="type"
            value="{{ trafficPolice.idSecretary }}"
            [(ngModel)]="trafficPolice.idSecretary"
            matInput
            required />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Via:</mat-label>
          <mat-select
            [(ngModel)]="trafficPolice.highway"
            [ngModelOptions]="{ standalone: true }">
            <mat-option
              *ngFor="let highway of highwaysList"
              [value]="highway.id">
              {{ highway.id }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-card-actions>
          <button
            mat-flat-button
            color="primary"
            (click)="getAddTrafficPolice()">
            Guardar
            <mat-icon>save</mat-icon>
          </button>
        </mat-card-actions>
      </form>
    </form>
  </mat-card>
</section>
