.highways {
    margin-top: 20px;
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    align-items: center;   
}

.card {
    margin: 5px;
    min-height: 100px;
    min-width: 200px;
    max-width: 200px;
    height: 100%;
}

button {
    width: 100%;
    margin-top: 10px;
}

.btnToolBar{
    float: right;
    margin: 5px;
    height: 50px;
    width: 100px;
    margin-right: 0;
    margin-left: auto;
    display: block;
}