<mat-toolbar color="primary">
  <span>My App (Agentes de Transito)</span>

  <button
    class="btnToolBar"
    mat-flat-button
    color="primary"
    (click)="addTrafficPolice()">
    Agregar
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<section class="trafficPolices">
  <mat-card class="card" *ngFor="let trafficPolice of trafficPolices">
    <mat-card-header>
      <mat-card-title>ID: {{ trafficPolice.id }}</mat-card-title>
    </mat-card-header>
    <mat-card-content> </mat-card-content>
    <mat-card-content>
      <mat-card-subtitle> Nombre: {{ trafficPolice.name }} </mat-card-subtitle>
      <mat-card-subtitle>
        Anos de Experiencia: {{ trafficPolice.yearsExperience }}
      </mat-card-subtitle>
      <mat-card-subtitle>
        Id Secretaria: {{ trafficPolice.idSecretary }}
      </mat-card-subtitle>
      <mat-card-subtitle>
        Via Asignada: {{ trafficPolice.highway }}
      </mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-flat-button
        color="primary"
        (click)="getHistory(trafficPolice.id)">
        Historial
        <mat-icon>history</mat-icon>
      </button>
      <button
        mat-flat-button
        color="primary"
        (click)="editTrafficPolice(trafficPolice)">
        Editar
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-flat-button
        color="primary"
        (click)="deleteTrafficPolice(trafficPolice.id)">
        Eliminar
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</section>

<button mat-flat-button color="primary" (click)="getHighway()">
  Vias
  <mat-icon>add_road</mat-icon>
</button>
